.banner {
  height: 300px;
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.banner h1, .banner h2 {
  text-align: center;
  color: rgb(0 0 0);
}

.banner h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 24px;
  margin-bottom: 20px;
}